.navbar{
    border-radius: 0;
    background-color:#1a1e5a;
    color: #FFF;
}
.visa-logo{color: #FFF;}  
 ul li {
    display: inline;
    position: relative;
    color: #FFF;
  }
  ul li a {
    color: #FFF;
  }
  ul li a:hover {
    color:#f7b600;
  }
  ul li:hover {
    cursor: pointer;
  }
  
  /*ul li:hover:after {
    border-top: #c0c0c0;
  }*/
  ul li.current:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #FFF;
    content: " ";
    position: absolute;
    transform: rotate(180deg);
    bottom: 5px;
    left: 35%;
  }
  